{% extends "base.html" %}

{%block title%}Profile {{ block.super }}{% endblock %}

{% block content %}
    {% if object %}
    	<div class="row">
    		<div class="col-sm-3 col-xs-12" >
    			<h1>{{ object.username }}</h1>
    			<p>Follower : {{ object.followed_by.all.count }}</p>
    			<p><a href="{{ object.profile.get_follow_url }}" class="btn btn-link">
    			{% if following %}Un Follow {% else %} Follow {% endif %}</a></p>
    		</div>
    		<div class="col-sm-9 col-xs-12">
    			<h1>Tweets</h1>
    			{% for tweet in object.tweet_set.all %}
    				<h1>{{ tweet.content }}</h1><br>
    			{% endfor %}

    			<h1>Following <small>{{ object.profile.get_following.count }}</small></h1>
    			{% for user in object.profile.get_following %}
    				<a href="/profile/{{ user.username }}"><p>{{ user.username }}</p></a><br>
    			{% empty %}
    				<p>No following</p>
    			{% endfor %}

    			<h1>Follower</h1>
    			{% for profile in object.followed_by.all %}
    				<a href="/profile/{{ profile.user.username }}"><p>{{ profile.user.username }}</p></a><br>
  
    			{% empty %}
    				<p>No follower</p>
    			{% endfor %}

    		</div>
    	</div>
	{% endif%}
{% endblock content %}